<%= link_to 'Home', root_path,class:"btn btn-success" %>
<div class="container">
<% @properties.each do |property| %>
<div class="p-3">
  <h1>Price: £<%= property.price %></h1>
  <h2>Number of beds: <%= property.beds %></h2>
  <h2>Number of bathrooms: <%= property.bathrooms %></h2>
  <h3>Location: <%= property.address %></h3>
  <h4><%= property.description %></h4>
  <h4>Phone number: <%= property.phone %></h4>
  <h4>Email: <%= property.email %></h4>
</div>
<div>
  <%= link_to 'View', property_path(property), class:"button" %>
</div>
<% end %>
</div>