
<div class="banner">
<div class="navbar">
  <div>
    <img src="/assets/Logo White" alt="" class="logo">
  </div>
    <div>
      <a href="#" class="nav-links">Home</a>
      <a href="#" class="nav-links">Whats New</a>
      <a href="#" class="nav-links">Services</a>
      <a href="#" class="nav-links">Properties</a>
    </div>
    <div>
      <i class="fas fa-search"></i>
      <%= link_to 'Properties', properties_path,class:"button" %>
    </div>
</div>
  <div class="info">
    <h1 class="welcome">Welcome to uproom</h1>
    <p>We are an established property development agency,<br>for any queries don't hesiate to get in touch. </p>
    <div class="bottom">
    <a href="#" class="button-bottom">Click Here</a>
    </div>
  </div>
</div>

<div class="alternating">
  <div class="stories">
    <h1>Our New<br>Properties</h1>
    <p class="lorem">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore et<br> dolore magna aliqua. Lorem ipsum</p>
    <a href="#" class="read-more">Read more</a>
    </div>
    <div>
      <%= image_tag "Home/new-properties", class:"small-pic" %>
    </div>
  </div>


<div class="alternating">
    <div>
      <%= image_tag "Home/we're-moving", class:"small-pic" %>
    </div>
  <div class="stories">
    <h1>Our New<br>Properties</h1>
    <p class="lorem">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore et<br> dolore magna aliqua. Lorem ipsum</p>
    <a href="#" class="read-more">Read more</a>
    </div>
  </div>


<div class="alternating">
  <div class="stories">
    <h1>Our New<br>Properties</h1>
    <p class="lorem">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore et<br> dolore magna aliqua. Lorem ipsum</p>
    <a href="#" class="read-more">Read more</a>
    </div>
    <div>
      <%= image_tag 'Home/1-year', class:"small-pic" %>
    </div>
  </div>
</div>

<div class="services-banner">

<h1>Services we provide</h1>
<h4>Duis aute irure dolor in reprehenderit in voluptate velit<br> esse cillum dolore eu fugiat nulla pariatur</h4>
  
  
    <div class="feature-flex">
    <img src="/assets/star" alt="" class="services-icons">
      <div>
      <p>Feature title<br>
      Describe feature title in a sentence</p>
      </div>
    </div>

      <div class="feature-flex">
        <img src="/assets/heart" alt="" class="services-icons">
      <div>
      <p>Feature title<br>
      Describe feature title in a sentence</p>
      </div>
    </div>
  
     <div class="feature-flex">
        <img src="/assets/house" alt="" class="services-icons">
      <div>
      <p>Feature title<br>
      Describe feature title in a sentence</p>
      </div>
    </div>

</div>

<div class="our-properties">

<h1>Our properties</h1>
<h4>Duis aute irure dolor in reprehenderit in voluptate velit<br> esse cillum dolore eu fugiat nulla pariatur</h4>

</div>

<div class="our-props-flex">
  
    <%= image_tag 'Home/leeds', class:"card-image" %>
    <%= image_tag 'Home/london', class:"card-image" %>
    <%= image_tag 'Home/brighton', class:"card-image" %>
    
</div>
<br>
<br>
<div class="subscribe">
<h1>Sign Up to our Newsletter</h1>
<div class="btn-div">
<%= link_to 'Sign Up', "#", class:"sign-up-btn" %>
</div>
</div>



